

/* Top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* repeat(3, 1rf) same as 1fr 1fr 1fr */
}

.player{
    display: flex;
}

.player img{
    width: 56px;
    height: 56px;
}
